*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(53, 53, 53);
    /* overflow: hidden; */
}

/* mobile first from 320px*/

.game-container{
    width: 100vw;
    max-width: 500px;
    min-width: 300px;
    height: 100vh;
    min-height: 538px;
    max-height: 827px;
    padding: 1rem;
    background-color:coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 0.9rem; */
}

/* @media (min-width: 425px) {
    .game-container{
        padding: 1rem 2.3rem;
    }
} */



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aqua;
    margin-bottom: 0.3rem;
    flex-basis: 35%;
}

/* @media (min-width: 375px) {
    header {
        min-height: 25%;
        background-color: brown;
    }
} */

header .game-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;    
    background-color: blueviolet;
    width: 100%;
    flex-basis: 70%;    
}

header .score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: blue;
    font-size: 0.9rem;
    /* min-height: 30%; */
    width: 100%;
    flex-basis: 30%;

}




.div-score-info, .div-message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    width: 100%;
    min-height: 3rem;
    border-radius: 0.3rem;  
    /* padding: 0.4rem; */
    
}


.score-info, .message{
    text-align: center;
    
}

header .score .score-info{
   font-size: 0.7rem;
   font-weight: bold;
}




main{
    display: flex;
    justify-content: center;
    background-color:blueviolet;
    width: 100%;
    /* min-height: 55%; */
    flex-basis: 60%;
}



main .grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: darkgreen;
    gap: 0.3rem;    
    width: 100%;
}

main .grid .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: red;
    /* width: 100%; */
}

main .grid .img-container img{
    display: block;
    /* margin: auto; */
    width: 100%;    
    cursor: pointer;
    object-fit: cover;
}


@media (min-width: 385px) {
    main .grid {
        width: 90%;
        gap: 0.5rem;
    }
}
@media (min-width: 445px) {
    main .grid {
        width: 80%;
        gap: 0.5rem;
    }
}


main .grid img:hover{
    background-color: rgba(255, 255, 255, .5);
}


footer{
    display: flex;
    width: 100%;    
    background-color: crimson;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    /* min-height: 10%; */
    flex-basis: 5%;
    
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
    
}

/* @media (min-width: 375px) {
    footer {
        min-height: 5%;
        background-color: brown;
    }
} */